import * as S from './{{pascalCase name}}.styles'

export interface {{pascalCase name}}Props {
  /**
   * Optional title
   */
  title?: string

  /**
   * Optional description
   */
  description?: string
}

const {{pascalCase name}} = () => (
  <S.Wrapper>
    <h1>{{pascalCase name}}</h1>
  </S.Wrapper>
)

export default {{pascalCase name}}
